<mat-horizontal-stepper [linear]="isLinear"  #stepper>
  <mat-step [stepControl]="firstFormGroup" label="Select Pickup">
    <form [formGroup]="firstFormGroup">
        <app-list-component></app-list-component>

      <div class="mt-5">
        <button mat-flat-button color="accent" matStepperNext>Next</button>
      </div>

    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Fill Package Details">
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
