<mat-horizontal-stepper [linear]="isLinear"  #stepper>

  // Step1: Select A person to pickup the package
  // ********************************************

  <mat-step label="Select Pickup">
        <app-list-component type="users" (selectedPickupUserEmitter)="setPickupUserId($event)"></app-list-component>
      <div class="mt-5">
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>

  </mat-step>

  // Step2: Add package Details
  // ********************************************

  <mat-step [stepControl]="packageForm" label="Fill Package Details">

    <form [formGroup]="packageForm">
      <mat-form-field appearance="outline">
        <mat-label>Weight</mat-label>
        <input matInput type="text" formControlName="weight" required>
      </mat-form-field>
      <br/>
      <mat-form-field appearance="outline">
        <mat-label>Size</mat-label>
        <input matInput type="text" formControlName="size" required>
      </mat-form-field>
      <div class="">
        <button mat-flat-button color="accent" class="mr-2" matStepperPrevious>Back</button>
        <button mat-flat-button color=primary matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  // Step3: Select a shop where the package will stay
  // ********************************************

  <mat-step label="Select a Shop">

    <app-clients-list (selectItemEvent)="setStoreId($event)"></app-clients-list>

    <div class="mt-5">
      <button mat-flat-button color="accent" class="mr-2" matStepperPrevious>Back</button>
      <button mat-flat-button color=primary (click)="onCreateShipment()">Submit</button>
    </div>
  </mat-step>



</mat-horizontal-stepper>
